<div class="header-container">
  <a> • {{ data.releaseDate | dateTime }}</a>
  <hr />

  <a> • {{ data.productionCompanies.split(",")[0] }} </a>
  <hr />
  <a> • {{ data.runtime }}min </a>
</div>
<div class="game-container">
  <br />
  <br />
  <youtube-player
    [videoId]="this.data.trailer"
    [width]="640"
    [height]="360"
    [playerVars]="playerVars"
    class="box"
  ></youtube-player>

  <div class="box">
    <h1>{{ this.data.title }}</h1>
    <div class="h3-padding"></div>
    <h3>{{ this.data.tagline }}</h3>
    <hr class="container-separator" />

    <h3>Released on: {{ this.data.releaseDate | dateTime }}</h3>

    <div class="h3-padding"></div>
    <h3>Critics Score: {{ this.data | description }}</h3>
    <h3 *ngIf="this.data.finalGrade > 0">
      Final Grade: {{ this.data.finalGrade | number: "1.1-1" }}
    </h3>
    <h3 *ngIf="this.data.finalGrade > 0">
      User Score: {{ this.data.finalGrade | number: "1.1-1" }}
    </h3>

    <div class="h3-padding">
      <h3 *ngIf="this.myReview != null">My Score: {{ this.myReview.grade }}</h3>
      <h3 *ngIf="this.myReview == null">You have not scored this movie yet.</h3>
      <h3 *ngIf="this.myReview == null && this.userId == undefined">
        Please log in to score this movie.
      </h3>
      <app-critic-card
        *ngIf="this.myReview != null"
        [review]="this.myReview"
        [myReview]="this.myReview != null"
      ></app-critic-card>
      <button
        mat-button
        *ngIf="this.myReview == null && this.userId != undefined"
        (click)="leaveReview()"
      >
        Leave a Review
      </button>
    </div>
  </div>
</div>

<hr />
<h2 class="header-container" style="text-align: center">Reviews</h2>
<div style="justify-items: center">
  <div class="list">
    <app-critic-card
      [review]="item"
      *ngFor="let item of reviews | slice: 0 : reviewCnt"
    ></app-critic-card>
  </div>
  <button mat-button *ngIf="reviews.length > 3" (click)="showAll()">
    {{ this.reviewCnt == 3 ? "Show All Reviews" : "Collapse" }}
  </button>
</div>
<div class="hr3-padding">
  <hr />
  <div class="container">
    <div class="box-1">
      <b>Production Company :</b> {{ this.data.productionCompanies }}
    </div>
    <div class="box-1"><b>Runtime </b> {{ this.data.runtime }} min</div>
    <div class="box-1">
      <b>Release date </b> {{ this.data.releaseDate | dateTime }}
    </div>
    <div class="box-1"><b>Genres :</b> {{ this.data.genres }}</div>
    <div class="box-1">
      <b>Budget :</b> {{ this.data.budget | numberSeparator }} USD
    </div>
    <div class="box-1">
      <b>Homepage :</b>
      <a style="font-weight: 400" href="{{ this.data.homepage }}">{{
        this.data.homepage
      }}</a>
    </div>
  </div>
</div>
