<div class="header">
  <h1>Movies</h1>
  <a> Find your next captivating movie moment</a>
</div>

<h2 class="other-headers">New Releases</h2>
<hr />
<app-item-carousel
  [items]="newMovies"
  [imgSource]="'https://image.tmdb.org/t/p/w500'"
  [ref]="'movie'"
  (itemClicked)="onItemClicked($event)"
></app-item-carousel>

<h2 class="other-headers">Top Rated</h2>
<hr />
<app-item-carousel
  [items]="topRatedMovies"
  [imgSource]="'https://image.tmdb.org/t/p/w500'"
  [ref]="'movie'"
  (itemClicked)="onItemClicked($event)"
></app-item-carousel>

<h2 class="other-headers">Popular right now</h2>
<hr />
<app-item-carousel
  [items]="mostPopularMovies"
  [imgSource]="'https://image.tmdb.org/t/p/w500'"
  [ref]="'movie'"
  (itemClicked)="onItemClicked($event)"
></app-item-carousel>

<h2 class="other-headers">Latest Trailers</h2>
<hr />

<youtube-player
  [videoId]="this.trailer_id"
  [height]="400"
  [width]="600"
  [playerVars]="playerVars"
></youtube-player>

<h2 class="other-headers">Marvel Studios movies, ranked</h2>
<hr />
<app-item-carousel
  [items]="poularMoviesByProduction"
  [imgSource]="'https://image.tmdb.org/t/p/w500'"
  [ref]="'movie'"
  (itemClicked)="onItemClicked($event)"
></app-item-carousel>
