
<div class="product-list" (mousedown)="onMouseDown($event)">
    <div *ngFor="let item of items" class="product-card" (click)="onItemClick(item)">
      <mat-card>
        <mat-card-content>
         <img [src]='sanitazeUrl(imgSource+(item.imageUrl===undefined?  item.posterPath : item.imageUrl))'		
         alt="Item Image"
         height="300"
         width="200" >
        </mat-card-content>
        
        <mat-card-header style="align-self: center;" >
            <mat-card-title >{{ item.title }}</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
      </mat-card>
    </div>
  </div>