<div class="product-list" (mousedown)="onMouseDown($event)">
  <div
    *ngFor="let item of items"
    class="product-card"
    (click)="onItemClick(item)"
  >
    <mat-card class="parent">
      <mat-card-content style="padding: 0%">
        <img
          [src]="getImagePath(item)"
          alt="Item Image"
          height="300"
          width="200"
        />
      </mat-card-content>

      <mat-card-title>{{ item.title || item.name }}</mat-card-title>
      <mat-card-subtitle class="child">
        <a [ngStyle]="{ 'background-color': getColor(item) }">{{
          getNumber(item)
        }}</a>
        <b>{{ item | description }}</b>
      </mat-card-subtitle>
      <br />
    </mat-card>
  </div>
</div>
