<mat-toolbar color="primary" class="navbar mat-elevation-z2">
  <div>
    <a disabled="true" mat-button routerLink="/" class="icon">
      <img src="../../assets/logo.jpg" alt="Logo" height="40" width="40" />
    </a>

    <a mat-button [routerLink]="'/'"> Home </a>

    <a mat-button [routerLink]="'/music'"> Music </a>

    <a mat-button [routerLink]="'/movies'"> Movies </a>

    <a mat-button [routerLink]="'/games'"> Games </a>
  </div>

  <div class="padding"></div>

  <div class="search-box">
    <app-search></app-search>
  </div>

  <div class="padding"></div>

  <div>
    <a
      mat-button
      (click)="this.click()"
      *ngIf="!this.authService.loggedInStatus"
    >
      Register
    </a>
    <a
      mat-button
      (click)="this.logout()"
      *ngIf="this.authService.loggedInStatus"
    >
      Logout
    </a>
    <button
      mat-icon-button
      matSuffix
      type="button"
      [attr.aria-label]="'Dislike'"
      [attr.aria-pressed]="false"
      [routerLink]="'/user/' + username"
      *ngIf="this.authService.loggedInStatus"
    >
      <mat-icon>person</mat-icon>
    </button>
  </div>
</mat-toolbar>
