.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  .font-size-large{
    font-size: large;
    font-weight: 500;
    padding: 1.5%;
  }
  .example-full-width {
    width: 35%;
    padding: 1.5%;
    height: 100%;
  }
  