<mat-toolbar
	class="navbar mat-elevation-z2"
	color="primary"
    style="height: 7%; padding-left: 10%; padding-right: 10%;"
	
>
	<a  disabled="true"
		mat-button
		routerLink="/"
		class="icon"
        class="font-size-large"
	>
		<img
			src="../../assets/logo.jpg"
			alt="Logo"
			height="40"
			width="40"
		/>
	</a>
    <button mat-button class="font-size-large" [routerLink]="'/'">Home</button>
    
    <button mat-button class="font-size-large" [routerLink]="'/music'">Music</button>
    
    <button mat-button class="font-size-large" [routerLink]="'/movies'">Movies</button>
    
    <button mat-button class="font-size-large" [routerLink]="'/games'">Games</button>
    
    <span class="example-fill-remaining-space"></span>
    <mat-form-field class="example-full-width" style="margin-top: 1%;">
        <input matInput placeholder="Search Movies,Games,Music etc" >
    </mat-form-field>
    
    <span class="example-fill-remaining-space"></span>
    <button mat-button class="font-size-large" [routerLink]="'/register'" >Register</button>
    
    
	
</mat-toolbar>