<div class="header">
  <h1>Games</h1>
  <a>Find your next captivating gaming moment</a>
</div>

<h2 class="other-headers">New Releases</h2>
<hr />
<app-item-carousel
  [items]="newReleaseGames"
  [imgSource]="'https://www.vgchartz.com'"
  [ref]="'game'"
  (itemClicked)="onItemClicked($event)"
></app-item-carousel>

<h2 class="other-headers">Top Rated Releases</h2>
<hr />
<app-item-carousel
  [items]="newTopRatedGames"
  [imgSource]="'https://www.vgchartz.com'"
  [ref]="'game'"
  (itemClicked)="onItemClicked($event)"
></app-item-carousel>

<h2 class="other-headers">Top Games From Rockstar Games</h2>
<hr />
<app-item-carousel
  [items]="topGamesByDeveloper"
  [imgSource]="'https://www.vgchartz.com'"
  [ref]="'game'"
  (itemClicked)="onItemClicked($event)"
></app-item-carousel>

<h2 class="other-headers">Latest Videos</h2>
<hr />
<youtube-player
  [videoId]="this.trailer_id"
  [height]="400"
  [width]="600"
  [playerVars]="playerVars"
></youtube-player>

<h2 class="other-headers">New on Xbox</h2>
<hr />
<app-item-carousel
  [items]="topForPlatform"
  [imgSource]="'https://www.vgchartz.com'"
  [ref]="'game'"
  (itemClicked)="onItemClicked($event)"
></app-item-carousel>
