<div class="header-container">
  <hr />
  <a>{{ data.developer }} </a>
</div>

<div class="game-container">
  <!-- this.data.trailer-->
  <youtube-player
    [videoId]="this.data.trailer"
    [width]="640"
    [height]="360"
    [playerVars]="playerVars"
    class="box"
  ></youtube-player>

  <div class="box">
    <h1>{{ this.data.title }}</h1>
    <hr class="container-separator" />
    <h3>Platforms: {{ this.data.platforms }}</h3>
    <h3>Released on: {{ this.data.releaseDate | dateTime }}</h3>

    <div class="h3-padding"></div>
    <h3>Critics Score: {{ this.data | description }}</h3>
    <h3 *ngIf="this.data.finalGrade > 0">
      Final Grade: {{ this.data.finalGrade | number: "1.1-1" }}
    </h3>
    <h3 *ngIf="this.data.finalGrade > 0">
      User Score: {{ this.data.finalGrade | number: "1.1-1" }}
    </h3>

    <div class="h3-padding">
      <h3 *ngIf="this.userReview != null">
        My Score: {{ this.userReview.grade }}
      </h3>
      <h3 *ngIf="this.userReview == null">
        You have not scored this game yet.
      </h3>
      <h3 *ngIf="this.userReview == null && this.userId == undefined">
        Please log in to score this game.
      </h3>
      <button
        mat-button
        *ngIf="this.userReview == null && this.userId != undefined"
        (click)="leaveReview()"
      >
        Leave a Review
      </button>
      <app-critic-card
        *ngIf="this.userReview != null"
        [review]="this.userReview"
        [myReview]="this.userReview != null"
      ></app-critic-card>
    </div>
  </div>
</div>

<div class="list">
  <app-critic-card
    [review]="item"
    *ngFor="let item of reviews | slice: 0 : 3"
  ></app-critic-card>
</div>

<hr />

<hr />
<h2 class="header-container" style="text-align: center">Reviews</h2>
<div style="justify-items: center">
  <div class="list">
    <app-critic-card
      [review]="item"
      *ngFor="let item of reviews | slice: 0 : reviewCnt"
    ></app-critic-card>
  </div>
  <button mat-button *ngIf="reviews.length > 3" (click)="showAll()">
    {{ this.reviewCnt == 3 ? "Show All Reviews" : "Collapse" }}
  </button>
</div>

<div class="h3-padding">
  <hr />
  <div class="container">
    <div class="box">
      <div class="box-1">Developer: {{ this.data.developer }}</div>
      <div class="box-1">
        Release Date: {{ this.data.releaseDate | dateTime }}
      </div>
      <div class="box-1">Genres: {{ this.data.gameGenres }}</div>
      <div class="box-1">Platforms: {{ this.data.platforms }}</div>
      <div class="box-1">Publisher: {{ this.data.publisher }}</div>
    </div>
  </div>
</div>
