<div class="header">
  <h1>Music</h1>
  <a> Find your next captivating music album</a>
</div>
<h2 class="other-headers">New Releases</h2>
<hr />
<app-item-carousel
  [items]="newestMusic"
  [ref]="'album'"
  (itemClicked)="onItemClicked($event)"
></app-item-carousel>

<h2 class="other-headers">Top Rated</h2>
<hr />
<app-item-carousel
  [items]="topRatedMusic"
  [ref]="'album'"
  (itemClicked)="onItemClicked($event)"
></app-item-carousel>

<h2 class="other-headers">Top Rated by Mavis Staples</h2>
<hr />
<app-item-carousel
  [items]="albumsByArtist"
  [ref]="'album'"
  (itemClicked)="onItemClicked($event)"
></app-item-carousel>
