<div style="padding-top: 5%;">
    <h1 style="font-size: 6rem; font-weight: 600; text-shadow: 5px 5px 5px pink; ">
            MUSIC
    </h1>
    <br>
    <a style="font-size: 1.5rem;"> Find your next captivating movie moment</a>
</div>
<br>
<br>
<a style="font-size:1.5rem">New Releases</a>
<hr>
<app-item-carousel [items]="newestMusic" [ref]="'album'"  (itemClicked)="onItemClicked($event)"></app-item-carousel>

<br>
<br>
<a style="font-size:1.5rem">Top Rated</a>
<hr>
<app-item-carousel [items]="topRatedMusic"   [ref]="'album'" (itemClicked)="onItemClicked($event)"></app-item-carousel>

<br>
<br>
<a style="font-size:1.5rem">Top rated by Eminem</a>
<hr>
<app-item-carousel [items]="albumsByArtist"  [ref]="'album'" (itemClicked)="onItemClicked($event)"></app-item-carousel>

<br>

<br>
<a style="font-size:1.5rem">Latest trailers</a>
<hr>
