<div
  style="
    align-self: center;
    align-items: center;
    align-content: center;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
  "
>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>Register</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input
            matInput
            [required]="true"
            [(ngModel)]="user.firstName"
            placeholder="Placeholder"
          />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            [required]="true"
            [(ngModel)]="user.lastName"
            placeholder="Placeholder"
          />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            name="email"
            [required]="true"
            #email="ngModel"
            [(ngModel)]="user.email"
            placeholder="Placeholder"
          />
          <div style="max-height: 6px; font-size: 12px">
            <mat-error *ngIf="!validateEmail()">Invalid email</mat-error>
          </div>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            [required]="true"
            [(ngModel)]="user.password"
            type="password"
            placeholder="Placeholder"
          />
        </mat-form-field>
      </div>
      <div
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        "
      ></div>

      <br />
      <button mat-raised-button color="primary" (click)="onSubmit()">
        Register
      </button>
      <hr />
      <label mat-label>Already have an account? </label>
      <br />
      <br />
      <button mat-raised-button color="accent" (click)="onLogin()">
        Login
      </button>
    </mat-card-content>
  </mat-card>
</div>
